<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suit1" verbose="1">
<test name = "myFile">
    <classes>
        <class name="firstTests.FirstTest"/>
    </classes>
</test>

    <test name = "Paramp">
        <parameter name="Idont" value="GG"></parameter>
        <parameter name="Iknow" value="BG"></parameter>
    <classes>
        <class name="firstTests.ThirdTest"></class>
    </classes>
    </test>

</suite>